@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-bgprimary: #040e4f;
}

html,
body {
  background-color: rgba(255, 255, 255, 0.973);
  color: #040e4f;
  min-height: 100%;
}


.btn1 {
  @apply text-sm p-2 rounded-lg hover:bg-gray-300;
}

.active {
  @apply underline
}
